<div class="container mt-4 border">
  <div class="container-content">
    <h1 class="m-3 text-center">Welcome to Biggest E-Learning System</h1>
    <div class="m-3">
      <p class="">An assistance to quick and effective learning</p>
      <h2>Features</h2></h2>
      <span>
        <ul>
          <li>Lorem ipsum dolor sit amet!</li>
          <li>Lorem ipsum dolor sit amet!</li>
          <li>Lorem ipsum dolor sit amet!</li>
          <li>Lorem ipsum dolor sit amet!</li>
        </ul>
      </span>
    </div>
  </div>
</div>
